body {
    display: flex;
    min-height: 150vh;  /* this one setting work space between header and footer*/
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.footer {
    clear: both;
    /*position: Fixed;*/
    /*height: 10px !important;*/
    padding-top: 20px;
    /*background-color: midnightblue !important;*/
}

#grey-info-bar {
    background-color: #f2f2f2 !important;
    width: 100%;
    border-bottom: 1px solid #dedede;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}


p.alignleft {
    float: left !important;
}