body {
    /*display: flex;
    overflow: auto;
    flex-direction: column;*/

    /*min-height: 150vh;*/ /* this one setting work space between header and footer
    /*display: block;*/ /*this will make the grid in full width,  display : flex will bring the grid smaller width **/
}

main {
    flex: 1 0 auto;
}

.footer {
    clear: both;
    /*position: Fixed;*/
    /*height: 10px !important;*/
    padding-top: 20px;
    /*background-color: midnightblue !important;*/
}

#grey-info-bar {
    background-color: #f2f2f2 !important;
    width: 100%;
    /*border-bottom: 1px solid #dedede;  vdd  to hide the grey line under the header*/  
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}


p.alignleft {
    float: left !important;
}


.p1 {
    height: 160px !important;
    /*text-align: center;
    position: relative;
    top: 150%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);*/
}