/*Logout  bubble style,  to do :  This style not working */
    .dropdown-bubble .dropdown-menu {
  margin-top: 1em;
}

.dropdown-bubble .dropdown-menu:before,
.dropdown-bubble .dropdown-menu:after{
  content: ' ';
  display: block;
  border-style: solid;
  border-width: 0 .5em .8em .5em;
  border-color: transparent;
  position: absolute;
  left: 1em;
}

.dropdown-bubble .dropdown-menu:before {
  top: -.8em;
  border-bottom-color: rgba(0,0,0,0.5);
}

.dropdown-bubble .dropdown-menu:after {
  top: -.7em;
    border-bottom-color: #fff;
}
/*Logout  bubble style,  to do :  This style not working */
/*Logout  menu item not working end */
.dropdown-content {
    display: none;
    position: absolute;
    /*background-color: #f1f1f1;*/
    /*min-width: 140px;*/
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}

    .dropdown-content a {
        /*color: black;*/
        /*padding: 12px 12px;*/
        text-decoration: none;
        text-align:center;
        display: block;
    }

        .dropdown-content a:hover {
            /*background-color: #ddd;*/
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/*Logout  menu item not working end */

@media screen and (min-width: 992px) {
    .padding-bottom-div {
        padding-bottom: 30px;
    }
}

.fontBold {
    font-weight:bold;
}

/* Create two equal columns */
#ddGrid_filter label input {
    /*border-width: 1px;*/
    border: 1px solid #ccc !important;
}

.responsive {
    max-width: 100%;
    height: auto;
}

.rowtwo {
    display: flex;
    flex-wrap: wrap;
}

.columnTwo {
    flex: 50%;
    padding: 20px;
    /*margin: auto;*/
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    .column {
        flex: 50%;
    }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }
}

.form-control123 {
    border: 1px solid #ccc !important;
    /*border-radius: 9px !important;*/
    height: 34px;

}

.all-button {
    width: 100%;
    color: #fff;
    background-color: #299aec !important; /*rebeccapurple 
    border-radius: 9px !important;
    border-width: thick;*/
}

.btn-continue { /*green color */
    color: #fff;
    background-color: #5cb85c !important;
    border-color: #4cae4c !important;
}

.btn-back {   /*white color */
    color: #333;
    background-color: #fff;
    border-color: #808080 !important;
}


.button-header-color {
    background-color: #299aec !important;
    color: #fff !important;
    width: 100px;
}

/*giving space in grid filter textbox*/

.dataTables_wrapper .dataTables_filter {
    padding-bottom: 5px;
}

table.dataTable th {
    background-color: #299aec !important;
}

    .vdd-modeltextalign {
        text-align: center !important;
    }

    body {
        /*  s padding-top: 50px;*/
        padding-bottom: 20px;
    }

    /* Set padding to keep content from hitting the edges */
    .body-content {
        padding-left: 15px;
        padding-right: 15px;
    }

    /* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
    .dl-horizontal dt {
        white-space: normal;
    }

    /* Set width on the form input elements since they're 100% wide by default */
    input,
    select,
    textarea {
        /*max-width: 280px;*/
    }
