@{
    ViewBag.Title = "Contact Us";
}

@section Scripts
{
    <script src="~/Scripts/App/contactus.js"></script>
    <link href="~/Content/main2.css" rel="stylesheet" />
    <link src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/css/bootstrapvalidator.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>"


    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

    <!-- Include FontAwesome CSS if you want to use feedback icons provided by FontAwesome -->
    @*<link rel="stylesheet" href="//cdn.jsdelivr.net/fontawesome/4.1.0/css/font-awesome.min.css" />*@

    <!-- BootstrapValidator CSS -->
    @*<link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css" />*@

    <!-- BootstrapValidator JS -->
    @*<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.bootstrapvalidator/0.5.0/js/bootstrapValidator.min.js"></script>*@

}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="row" style="padding-bottom: 10px">
                <div class="col-md-6 mb-3">
                    <label>EMAIL</label>
                </div>
            </div>

            <div class="row" style="padding-bottom: 10px">
                <div class="col-md-6 mb-3">
                    @*Disb.DirectDeposit@auditor.lacounty.gov*@
                    <a href="Disb.DirectDeposit@auditor.lacounty.gov"> Disb.DirectDeposit@auditor.lacounty.gov </a>
                </div>
            </div>

            <div class="row" style="padding-bottom: 10px">
                <div class="col-md-6 mb-3">
                    <label>MAILING ADDRESS</label>
                </div>
            </div>
            <div class="row" style="padding-bottom: 10px">
                <div class="col-md-6 mb-3">
                    Los Angeles County Auditor-Controller
                    Disbursements Division
                    Vendor Direct Deposit Unit
                    500 W. Temple Street, Room 502
                    Los Angeles, CA 90012
                </div>
            </div>


            <div class="row" style="padding-bottom: 10px">
                <div class="col-md-6 mb-3">
                    <label>OFFICE HOURS</label>
                </div>
            </div>
            <div class="row" style="padding-bottom: 10px">
                <div class="col-md-6 mb-3">
                    Monday through Friday from 8a.m. to 5p.m.
                </div>
            </div>

            <div class="row" style="padding-bottom: 10px">
                <div class="col-md-6 mb-3">
                    <label>WE CAN BE REACHED BY</label>
                </div>
            </div>
            <div class="row" style="padding-bottom: 10px">
                <div class="col-md-6 mb-3">
                    Phone: (213) 974-4796
                </div>
            </div>


        </div>
        <div class="col-sm-5">
            <p>
                Have a question or need help? We would like to hear from you.  Please
                complete and submit the contact form below to receive a response to  your inquiry.
            </p>
            <div style="padding-bottom: 3pt">
                (* Indicates a required field.)
            </div>
        </div>

        <div class="col-sm-4">      
            <div class="row padding-bottom-div form-group">
                <label for="company">*Company</label>
                <input type="text" class="form-control" id="txtCompany" name="Company" placeholder="Company Name" required >
                <span id="companyspan" class="errmessage"/>
            </div>

            <div class="row padding-bottom-div">
                <div class="col-md-6 mb-3">
                    <label for="firstName">*First Name</label>
                    <input type="text" class="form-control" id="txtFirstName" name="FirstName" placeholder="Your First Name" required>
                    <span id="firstNamespan" class="errmessage" />
                </div>
                <div class="col-md-6 mb-3" style="padding-left: 4px">
                    <label for="lastName">*Last Name</label>
                    <input type="text" class="form-control" id="txtLastName" name="LastName" placeholder="Your Last Name" required>
                    <span id="lastNamespan" class="errmessage" />
                </div>
            </div>

            <div class="row padding-bottom-div">
                <div class="col-md-6 mb-3">
                    <label for="phone">*Phone</label>
                    <input type="text" class="form-control" id="txtPhone" name="Phone" placeholder="213-123-4567" required>
                    <span id="phonespan" class="errmessage invalid-feedback" />
                </div>
                <div class="col-md-6 mb-3" style="padding-left: 4px">
                    <label for="email">*Email</label>
                    <input type="text" class="form-control" id="txtEmail" name="Email" placeholder="Your Email Name" required>
                    <span id="emailspan" class="errmessage invalid-feedback" />
                </div>
            </div>

            <div class="row padding-bottom-div">
                <label for="subject">*Subject</label>
                <input type="text" class="form-control" id="txtSubject" name="Subject" placeholder="" required>
                <span id="subjectspan" class="errmessage invalid-feedback" />
            </div>

            <div class="row">
                <label for="message">*Message</label>
                <textarea class="form-control" id="txtMessage" name="Message" rows="7" cols="30" placeholder="Your Message" required></textarea>
                <span id="messagespan" class="errmessage invalid-feedback" />
            </div>
            <div style="padding-bottom: 3pt">
                (0/1000 charcters)
            </div>

            <div style="padding-bottom: 3pt" class="form-group">
                <button class="btn-primary btn button-header-color" id="btn_contactus_submit" type="button"> Submit </button>
            </div>


        </div>
    </div>
</div>



@*Los Angeles County Auditor-Controller
    Disbursements Division
    Vendor Direct Deposit Unit
    500 W. Temple Street, Room 502
    Los Angeles, CA 90012*@
