@{
    ViewBag.Title = "General Information";
}

@section Scripts
{
    <script src="~/Scripts/App/generalinfo.js"></script>
}

@*<div id="grey-info-bar row-wrapper" style="padding-left: 2px; width :100% !important; height : 60px; background-color:#e8d5ef !important">
    <h1 class="p1" style="text-align: center; font-weight: bold">
        General Information
    </h1>
</div>*@

<div class="container1" style="padding-top: 50px;">
    <div class="row-wrapper row1 row-home-gra1y">
        <div class="row-inner1">
            <div class="col-xs-121">
                <div class="wizard1">
                    <div class="wizard-inner1">
                        <blockquote>
                            <p>
                                Register your organization’s Vendor Self-Service Account (VSS). VSS is available 24 hours a day, 7 days a week and gives vendors access to remittance information and payment status. In addition, vendors may review their transaction history (such as contracts, invoices, and payments) which can be conveniently downloaded in Excel and/or PDF formats. Once enrolled in direct deposit, you may access your organization’s payment information via VSS.
                            </p>
                            </b>
                            <p>
                                You may register for VSS by accessing the following link: <a href="https://lacovss.lacounty.gov/"> https://lacovss.lacounty.gov/ </a>.
                            </p>

                            </b>

                            <p style="padding-bottom: 3pt">
                                Click on the VSS Vendor Activation Request link to submit the VSS activation request online. Allow up to 15 business days to process the request.
                            </p>

                            <ul>
                                <li style="margin-left: 30pt; padding-bottom: 10pt">
                                    You will be notified by email if your application is rejected.
                                </li>

                                <li style="margin-left:30pt; padding-bottom: 10pt">
                                    Once you are eligible for direct deposit, all payments you receive from the County will be via direct deposit and you will not receive remittance information by mail. Instead, you will receive via e-mail a payment notification and the remittance information.
                                </li>

                                <li style="margin-left: 30pt; padding-bottom: 10pt">
                                    E-mail us at disb.directdeposit@auditor.lacounty.gov for direct deposit-related questions.
                                </li>
                            </ul>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>