@{
    ViewBag.Title = "DashBoard Page";
}

<div class="container">
    <div class="row-wrapper row1 row-home-gray">
        <div class="row-inner">
            <div class="col-xs-12">
                <div class="wizard1">
                    <div class="wizard-inner1">
                        <div class="form-group1">
                            <div style="padding-top: 20px;">Welcome to the County of Los Angeles Vendor Direct Deposit Portal where vendors and payees can submit their Direct Deposit Authorization Form online.  Available 24/7, you/your company may provide banking information securely, inquire on the status of your request and print your authorization form.  The lock in your browser address bar shows that the site is secure.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-wrapper row-home row-home-gray" style="background-color: #f2f2f2 !important">
        <div class="row-inner">
            <div class="flex1">
                <div class="topMargin col-sm-6 stretch">
                    <div class="welcomeBox largeMarginBottom">
                        <h4>Request for Direct Deposit</h4>
                        <div class="header-line header-line-blue"><span></span></div>

                        <div class="clearfix largeMarginBottom_top">
                            <img src="/Content/Images/register.png" alt="" class="startClaimImage" />
                            <p>You have been provided a unique vendor registration number by the County of Los Angeles.</p>
                        </div>

                        <div class="homePageButtonWrapper">
                            <button id="btn_gotoLogin" style="margin-top: 120px!important" data-isCashed="false" class="btn btn-blue btn-block warrantTypeButton" type="submit" value="false" name="isCashed">
                                Apply for Direct Deposit
                                <span class="glyphicon glyphicon-arrow-right" style="margin-left:.5em;"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="topMargin col-sm-6 stretch">
                    <div class="welcomeBox largeMarginBottom">
                        <h4>Application Assistance</h4>
                        <div class="header-line header-line-green"><span></span></div>

                        <div class="clearfix largeMarginBottom_top">
                            <img src="/Content/Images/instructions.png" alt="" class="startClaimImage" style="padding-bottom:3px" />
                            <p>Use our User Guides to help you file your application.</p>
                        </div>

                        <div class="homePageButtonWrapper">
                            <button id="btn_Guide" data-isCashed="true" class="btn btn-green btn-block warrantTypeButton" type="submit" value="true" name="isCashed">
                                Review User Guides
                                <span class="glyphicon glyphicon-arrow-right" style="margin-left:.5em;"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row-wrapper row-home row-home-gray clearfix row" style="background-color: #f2f2f2 !important">
        <div class="row-inner">
            <div class="flex">
                <div class="col-sm-6 stretch">
                    <div class="welcomeBox largeMarginBottom">
                        <h4>Direct Deposit Request Status</h4>
                        <div class="header-line header-line-purple"><span></span></div>

                        <div class="clearfix ">
                            <p>If you have a confirmation #, you may check your application status by clicking below.</p>
                        </div>

                        <div class="largeMarginBottom">
                            <div class="clearfix">
                                <div class="largeMarginBottom" style="visibility:hidden">
                                    <label for="txtConfirmationNum" class="topMargin">Application Confirmation #:</label>
                                    <input data-val="true" id="txtConfirmationNum" name="txtConfirmationNum" type="text" value="" />
                                </div>

                                <div class="homePageButtonWrapper">
                                    <button id="btn_appStatus" class="btn btn-purple btn-block" style="margin-top:1em;">
                                        <span class="fa fa-search fa-left"></span>
                                        Lookup Application Status
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 stretch">
                    <div class="form-group welcomeBox largeMarginBottom">
                        <h4>Contact Us</h4>
                        <div class="header-line header-line-purple"><span></span></div>

                        <div class="clearfix largeMarginBottom ">
                            <p>If you have questions about your application or any other related issue, please contact us by clicking below and using the online contact form.</p>
                        </div>

                        <div class="homePageButtonWrapper">
                            <a href="/Home/Contact" class="btn btn-purple btn-block" style="margin-top:1em;">
                                @*/ContactUs*@
                                <span class="glyphicon glyphicon-envelope" style="margin-right:.5em;"></span>
                                Contact Form &amp; Info
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/App/dashboard.js"></script>
}


