<div class="Absolute-Center is-Responsive">
    <div class="form-group">
        <h1> UnAuthorized User!</h1>
        <h4> Please Contact the Administrator!</h4>
    </div>
</div>


@section Scripts
{
    <script src="~/Scripts/App/dashboard.js"></script>
}