@{
    ViewBag.Title = "Verify Bank Details";
}

@section Scripts
{
    <script src="~/Scripts/App/bankdetails.js"></script>
    <link href="~/Content/main2.css" rel="stylesheet" />
}
<div class="container">
    <div class="row rowtwo" style="padding: 30px 5px 100px 5px">
        <div class="col-sm-7 columnTwo" style="padding:20px 1px 10px 1px">

            <div class="form-group padding-bottom-div">
                <label for="Type Of Account" class="col-sm-5">Type of Account</label>
                <div class="col-sm-7">
                    <span id="accountType" class="" />
                </div>
            </div>

            <div class="form-group padding-bottom-div">
                <label for="Name on Bank Account" class="col-sm-5">
                    Name on Bank Account
                </label>
                <div class="col-sm-7">
                    <div style="float:left">
                        <span id="nameonbankAc" class="" />
                    </div>
                    @*<div style="float:right">*@
                        <button class="btn-primary btn button-header-color" data-toggle="alertmodal" data-target=".bd-example-modal-lg" style="margin-left: 20px; width: 40%; white-space: normal !important;font-size:12px" id="btn_verify_notyou"> Not you? Click Here </button>
                    @*</div>*@
                </div>
            </div>

            <div class="form-group padding-bottom-div">
                <label for="Bank Account Number" class="col-sm-5">
                    Bank Account Number
                </label>
                <div class="col-sm-7">
                    <span id="bankAcNo" class="" />
                </div>
            </div>

            <div class="form-group padding-bottom-div">
                <label for="" class="col-sm-5">
                    Bank Routing Number
                </label>

                <div class="col-sm-7">
                    <span id="bankRoutingNo" class="" />
                </div>
            </div>

            <div class="form-group fontBold">
                <div style="font-size:20px" class="matchAttachment">Does the above information match your attachment?</div>
            </div>
            <div class="form-group padding-bottom-div">
                <div class="div_bankverify_yesno" style="padding : 50pt 3pt; text-align: right">
                    <button class="btn btn-primary button-header-color" id="btn_verify_yes"> Yes </button>
                    <button class="btn btn-primary button-header-color" id="btn_verify_no"> No </button>
                </div>
            </div>
        </div>

        <div class="col-sm-5 columnTwo">
            <div id="divBankVerifyImage" style="text-align: center; display:none ; padding : 20pt 3pt;">
                <img src="~/Content/images/attachment_step.png" />

                <span id="modifiedFileName" class="text-bold attachment-header">
                    <a id="filelink" class="text-bold attachment-header"></a>
                </span>
            </div>

            <div id="divBankVerifyDoc" class="container imagearea1 responsive" style="display:none; overflow:hidden">
                @*width:500px;  height: 400px"*@
                <img id="Verifyimg" style="max-width:100%; max-height:100%;" />
            </div>
        </div>
    </div>
</div>


