@{
    ViewBag.Title = "Application Status";
}

@section Scripts
{
    <script src="~/Scripts/App/appstatus.js"></script>
    <link href="~/Content/main2.css" rel="stylesheet" />
}
<div class="container">
    <div style="padding-top: 20px;">
        Please enter your <span style="font-weight:bolder">Application Confirmation Number</span> below to obtain any available progress information related to your application.
    </div>


    <div class="" style="padding-top: 30px">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="form-group">
                    <label class="active" for="txt_employee_id:">Application Confirmation Number</label>
                    <input value="" id="txt_ConfirmationNum"  class="form-control" placeholder="" maxlength="10">
                </div>


                <div>
                    <div">
                        <button id="btn_Status" class="" style="margin-top:1em;">
                            Lookup Application Status123
                        </button>
                    </div>
                </div>
            </div>
        </div>
</div>
