@{
    ViewBag.Title = "Confirmation";
}

@section Scripts
{
    <script src="~/Scripts/App/certifyconfirm.js"></script>
    <link href="~/Content/main2.css" rel="stylesheet" />
}
<div class="container" style="padding-top: 20px;">

    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-10  col-xs-10  col-xs-offset-1" >
           
                @* padding-left:150px; padding-right:150px"*@
                <p style="padding-bottom: 3pt">
                    Thank you for submitting your Direct Deposit Authorization Form to the County of Los Angeles.
                    Your request details are as follows:
                </p>
                <p style="padding-bottom: 3pt">
                    Confirmation Number: <span class="fontBold" style="color: red">(Generated Confirmation # in bold red font) </span> Submitted Date/Time: <span style="color: red">(Date/Time submitted in red font)</span>
                </p>
                <p style="padding-bottom: 3pt">
                    Please allow up to 15 business days for your Direct Deposit Authorization Form to be processed.
                </p>

                    <div style="padding-top :10pt; text-align: center">
                        <button class="btn btn-continue" id="btn_certify_next"> View & Print </button>
                    </div>
        </div>
    </div>

    
</div>