@{
    ViewBag.Title = "Application Status";
}

@section Scripts
{
    <script src="~/Scripts/App/appstatus.js"></script>
    <link href="~/Content/main2.css" rel="stylesheet" />
}
<div class="container">
    <div style="padding-top: 20px;">
        Please enter your <span style="font-weight:bolder">Application Confirmation Number</span> below to obtain any available progress information related to your application.
    </div>


    <div class="login_container" style="padding-top: 30px">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="form-group">
                    <label class="active" for="txt_employee_id:">Application Confirmation Number</label>
                    <input value="" id="txt_ConfirmationNum" type="password" class="form-control form-control123 validate" placeholder="" maxlength="10">
                </div>


                <div class="input-group-btn1">
                    <div class="form-group">
                        @*<button id="btn_checkStatus" type="submit" name="action" class="btn btn-primary all-button" style="height: 50px !important">Lookup Application Status</button>*@

                        <button id="btn_checkStatus" class="btn btn-purple btn-block" style="margin-top:1em;">
                            <span class="fa fa-search fa-left"></span>
                            Lookup Application Status
                        </button>
                        @*<div class="homePageButtonWrapper">
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
