@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // Layout = null;
}

@section Scripts
{
    <link href="~/Content/main2.css" rel="stylesheet" />
    <link href="//cdn.datatables.net/responsive/2.2.3/css/dataTables.responsive.css" />
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
    <script src="//cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.js"></script>
    <script src="~/Scripts/App/location.js"></script>
}
<div id="pendingMessage" class="para errmessage" style="font-weight:bold; text-align:center" visible="false"></div>

<div class="para">
    <p>Select the address(es) that will be associated with your bank account.</p>
</div>

<div class="gj-margin-top-10">
    <table id="grid"></table>
</div>

<div class="gj-margin-top-10">
    <table id="ddGrid" class="w-auto mdl-data-table cell-border" cellspacing="0" style="border-collapse:collapse; border: 1px solid black; width:100%">
        <thead>
            <tr class="button-header-color">
                <th></th>
                <th>Address</th>
                <th>Routing Number</th>
                <th>Account No.</th>
                <th>Account Type</th>
                <th>Remittance Email</th>
                <th style="color: #fff !important">
                    Current Payment Status
                    <span>
                        <img data-toggle="popover" data-popover="true" data-placement="top" data-content="Check or Direct Deposit is the current payment method. 
                                Pending: Previously submitted application is in review." id="Image2" border="0" hspace="0" vspace="0" align="bottom" src="/content/App_Themes/Images/question_icon.png" style="width: 15px; height: 15px; margin-top: -10px; vertical-align: middle;">
                    </span>
                </th>
            </tr>
        </thead>
    </table>
</div>

<div class="para">
    <p> To update your address information, please contact the Department you're doing business with.</p>
</div>

@*<div class="container"  style="padding-bottom: 10px">
        <div class="row">
            <div class="col text-center" type="submit" name="action" id="btn_next">
                <button class="btn btn-default button-header-color" id="btn_deposit_next">Next</button>
            </div>
        </div>
    </div>*@

<div style="padding : 50pt 3pt; text-align: center" class=" container row-wrapper">
    <button style="float: right" class="btn btn-continue" id="btn_deposit_next"> Continue </button>
</div>


