/* =Typography */
#menufront h1
{
    font-size: 16pt;
}
#menufront a:link, 
#menufront a:active, 
#menufront a:visited
{
    text-decoration: none;
    font: normal 11.5pt Verdana, Arial, Helvetica, sans-serif;
}
        
/* =Layout */
#menufront
{
 clear: both;
    float: left;
    position: relative;
    width: 1900px;
    padding: 0px 0px 0px 200px;
 
 
    

}

#menufront h1
{
     float: right;
    padding: 15px 0px 15px 15px;
}
#menufront ol
{   
    display: table-cell;
    list-style-type: none;
    float: left;
    vertical-align: middle;
}
#menufront li
{
    float: left;
    position: relative;
        z-index: 99 !important;

}
#menufront a:link, 
#menufront a:active, 
#menufront a:visited
{
    display: block;
    vertical-align: top;
    text-align: center;
    padding: 10px 15px;
}

/* Sub-Menu */
#menufront ol ol 
{
    display: none;
    left: -2px;
	position: absolute;
	top: 37px;
	width: 98px;
z-index: 99 !important;
}
#menufront ol ol a
{
    float: left;
    width: 98px;   
}

#menufront ol ol a:link,
#menufront ol ol a:active,
#menufront ol ol a:visited
{
    text-align: left;
}

/* Sub-Menu Display */
#menufront li:hover ol
{
	display: none;
}
#menufront li:hover ol
{
	display: block;
}

/* =Color */
#menufront
{

    /*background:#D9D9D9;*/
    background:#F7F7F7;
     -webkit-box-shadow: 0px 1px 2px rgba(46, 50, 50, 0.72);
    -moz-box-shadow: 0px 1px 2px rgba(46, 50, 50, 0.72);
    box-shadow: 0px 1px 2px rgba(46, 50, 50, 0.72);
     color:#000;

}



#menufront a:link, 
#menufront a:active, 
#menufront a:visited
{
    /*color: #fff;*/
    color:#000;
    /*background-color: #587592;*/
    /*background-color: #16558C;*/
    /*background-color:#0066b2;*/
     /*background-color:#D9D9D9;*/
      background-color:#F7F7F7;
    border-right: 1px solid white;
}


#menufront li a:hover
{
    background: #000;
    /*background: #FCD5B5;*/
    color: white;   
    
    
}
#menufront a.begin
{
    border-left: 1px solid white;
}
#menufront a.end
{
    border-right: none;
}

/* Sub-Menu List */
#menufront ol ol li
{
    -webkit-box-shadow: 0px 1px 3px rgba(46, 50, 50, 0.72);
    -moz-box-shadow: 0px 1px 3px rgba(46, 50, 50, 0.72);
    box-shadow: 0px 1px 3px rgba(46, 50, 50, 0.72);

}
#menufront ol ol li
{
    background: #f6f6f6;
      /*background:#FCD5B5;*/
	/*border-left: 1pt solid rgb(51,51,51);
	border-right: 1pt solid rgb(51,51,51);*/
    border-left:  none;
	border-right: none;
      /*padding:0 0 0 0px;
	    margin:0 0 0 46px;*/

}
#menufront ol ol li.top
{
	/*border-top: 1pt solid rgb(51,51,51);*/
    border: none;

}
#menufront ol ol li.bottom
{
	/*border-bottom: 1pt solid white;*//*rgb(51,51,51);*/
    border: none;
}

/* Sub-Menu Display */
#menufront li:hover ol a
{
	border: none;
	background-color: #f6f6f6;
      /*background-color:#FCD5B5;*/
	color: #000;
      /*padding:0 0 0 0px;
	    margin:0 0 0 46px;*/
}
#menufront li:hover ol a:hover
{
	background-color: #000;
      /*background-color:#FCD5B5;*/
        /*padding:0 0 0 0px;
	    margin:0 0 0 46px;*/
        color:white;
}